input.form-control.passInput {
  width: 88%;
  margin: auto;
  display: inline;
  margin-left: 6%;
  position: relative;
}
.container {
  padding: 0px !important;
  position: relative;
}
span.flex.justify-around.items-center {
  position: absolute;
  top: 12%;
  right: 10%;
}

p.passError {
  display: block;
  margin: auto;
  width: 86%;
  color: red;
  font-size: smaller;
}
.marginD {
  margin-bottom: 0px !important;
}
